@charset "UTF-8";
h2, h3, h4{
    
    font-family: "冬青黑体"
}

h2{
    color:#0066B9;
}

.para{
    text-align: left;
    text-indent: 24pt;
    font-size: 16px;
    line-height: 1.5;
}

p{
    
    color: #000;
    font-weight: 300;
    font-size: 16px;
    font-family: "冬青黑体";
}

nav-btn{
    color: #0066B9;
    border-width: 2px;
    font-size: 16px;
    border-radius: 15px;
}


.culture-border{
    border:3px solid green;
    height: 350px;
    border-radius: 15px;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.culture-border h3 {
    text-align: center;
    margin-top: 30px;
    font-size:24px;
}

.culture-border p {
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
}

.table-border {
    
    
    border:3px solid green;
    border-radius: 15px;
    width: 370px;
    height: 280px;
    margin-left: 30px;
    margin-right: 5px;
}

.table-border p{
    text-align: center;
}

.table-border h4{
    text-align: center;
    margin-top: 30px;
}

.table-img table{
    margin-left: 150px;

    width:500px;
    height:250px;
}
.table-img table tr{
    margin-top:10px;
    margin-bottom: 10px;
}
.table-img table tr td span{
    margin-left: 20px;
    color:#0066B9;
    font-family: "冬青黑体";
}

.table-img table tr td img{
    
    width:48px;
    height:50px;
    color: #84bc27;
    margin-left:50px;
}

.team table{
    margin:0,0,0,0;
    padding: 0,0,0,0;
}


.team table tr td img{
    width: 110%;
    height: 35%;
}

.school td img{
    width: 100px;
    height: 100px;
}

.form {
    
    padding: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top:150px;
    margin-bottom:200px; 
    
}
.form  form input{
    padding: 5px;
    margin-top: 10px;
}
.form form{
    margin-left: 20%;
    margin-right: 20%;
}



.botton{
    margin-left: 80px;
    width: 100px;
    background-color: #84bc27;
    border: 0px solid green;
    border-radius: 15px;
    color: black;
    font-weight: 1000;
}

.reserve{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title{
    margin-top: 30px;
    font-family: "冬青黑体";
    font-size: 30px;
    text-align: center;
    color:#0066B9;
}

.program-img-little{
    width: 70%;
    height: 50%;
    margin-left: 80px;
}

.program{
    border: 1px solid #84bc27;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.program-img{
    width: 90%;
    height: 60%;
}

.program h4{
    font-size: 20px;
}

.program h3{
    
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.program ul li p {
    
    margin-top: 40px;
}

.program-img-big {
    width: 70%;
    height: 40%;
    margin-left: 50px;
}

.program-img{
    width: 100%;
    height: 100%;
}

.program-background{
    background-image: url(images/能力.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.paper{
   
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.paper-introduce {
    
    border:2px solid green;
    border-radius: 15px;
    margin-left: 15px;
    padding: 10px;
    width: 31%;
    height: 550px;
}
.paper-introduce img{
    width: 320px;
    height: 220px;
    margin-left:5px;
    margin-bottom: 10px;
}

.paper-pain img{
    width: 100%;
    height: 50%;
}



.paper-content{
    width: 300px;
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;
    
    padding: 20px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.paper-content h3{
    text-align: center;
}

.paper-process{
    width: 250px;
    height: 150px;
    border:0px solid gray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #84bc27;
    border-radius: 15px;
}

.paper-process h3{
    text-align: center;
}

.paper-th  th{
    font-size:20px;
    font-weight: 500;
    color:green;
}

.paper-case-table td img{
    width: 250px;
    height: 350px;
    
    border:3px solid green;
    margin-left:200px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.research{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.research-introduce-inline{
    width: 300px;
    height: 400px
}
.research-introduce{
    margin-top:10px;
    margin-left: 330px;
    height: 400px;
    
}

.research-introduce p{
    font-size:20px;
}

.research-content{
    width: 150px;
    height: 100px;
    
    text-align: center;
    
   
}

.research-content-table{
    border-spacing: 55px;
    margin-left: 40px;

}

.research-content-table img{
    width: 150px;
    height: 150px;
}

.research-case{
    margin-bottom: 40px;
}

.research-case h3{
    text-align: center;
}
.research-case td{
    border-top:3px dotted lightgreen;
    border-left: 3px dotted lightgreen;

}

.research-case table h3{
    width: 200px;  
    text-align: center; 
}

.research-case .table-head{
    border-top: 0px;
}

.research-case .right{
    border-right: 3px dotted lightgreen;
}

.research-case .bottom{
    border-bottom: 3px dotted lightgreen;
}

.research-case-img img{
    width: 90%;
    height: 90%;
    border:2px solid gray;
    margin-left: 15px;
}

.research-case-img h4{
    text-align: center;
}

.research-process td p{
    width: 140px;
    margin-left:20px;
    font-size:14px;
} 

.research-process img{
    width:90%;
    height:100%;
    margin-left:20px;
}
.research-process table{
    border-spacing: 45px;
}

.research-pain p{
    font-size: 18px;
}

.research-good img{
    width: 500px;
    height: 500px;
    
}
.research-good p{
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
    
}

.research-good ul li p{
    font-weight: 400px;
    font-size: 16px;
    background-color: hsl(0.0, 0.0%, 100.0%);
}

.contact{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.footer-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}